
{{#models}}{{#model}}

{{#emitJSDoc}}
/**
 *
 * @interface {{classname}}
 */{{/emitJSDoc}}
{{#vars}}{{#emitJSDoc}}
/**
 *
 * @name {{classname}}#{{baseName}}
 * @type {{#isEnum}}{{datatypeWithEnum}}{{/isEnum}}{{^isEnum}}{{=<% %>=}}{<%datatype%>}<%={{ }}=%>{{/isEnum}}
 */{{/emitJSDoc}}{{/vars}}

{{/model}}{{/models}}