
{{#models}}{{#model}}
{{#vars}}{{#isEnum}}{{#emitJSDoc}}
/**
 * @typedef {{classname}}{{datatypeWithEnum}} {{removedChildEnum}}
 * @type {{#allowableValues}}{({{#enumVars}}"{{name}}"{{^-last}}|{{/-last}}{{/enumVars}})}{{/allowableValues}}{{^isEnum}}{{=<% %>=}}{<%datatype%>}<%={{ }}=%>{{/isEnum}}
 */
{{/emitJSDoc}}{{/isEnum}}{{/vars}}
{{/model}}{{/models}}