import ApiClient from "../ApiClient";

export class {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{ {{>modelGenericAdditionalProperties}}
    {{#vars}}
    public '{{baseName}}'{{^required}}?{{/required}}: {{#isEnum}}{{{enumName}}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}};
    {{/vars}}
    constructor() {
    }

    static constructFromObject(data: {[key: string]: any}, obj: {{classname}} = new {{classname}}()): {{classname}} {
        if (data) {
            {{#vars}}
            if (data.hasOwnProperty('{{baseName}}')) {
                obj['{{baseName}}']{{{defaultValueWithParam}}}
            }
            {{/vars}}
        }
        return obj;
    }
}

{{>modelGenericEnums}}
