{{#hasEnums}}

{{#vars}}
{{#isEnum}}
type {{enumName}} = {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}} | {{/-last}}{{/enumVars}}{{/allowableValues}};
{{/isEnum}}
{{/vars}}

{{/hasEnums}}

//modelGenericEnums.mustache
