{
  "compilerOptions": {
    "declaration": true,
    "target": "2018",
    "module": "commonjs",
    "noImplicitAny": true,
    "lib": [
      "es6",
      "dom"
    ]
  },
  "exclude": [
    "dist",
    "node_modules"
  ]
}